{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>
<div class="container_messages">
    <h3>Posts :</h3>
    {% for post in user.blogPosts |slice(0, 5) %}
    <h6> {{ post.title}} </h6>
    <div class="message">
        <p>{{ post.content|nl2br }}</p>
    </div>
    <a href="{{ path('blog_post_edit', {'id': post.id}) }}">see</a>
    <hr>
    {% endfor %}
    </div>
    <div class="container_messages">
    <h3>Commentaires :</h3>
    {% for post in commentaires |slice(0, 10) %}
    <h6> {{ post.pseudo}} </h6>
    <div class="message">
        <p>{{ post.content|nl2br }}</p>
    </div>
    <a href="{{ path('commentaire_edit', {'id': post.id}) }}">see</a>
    <hr>
    {% endfor %}
    </div>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
